<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="static/app.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
     <a id="logo" href="index.php" title="Urban Hacking since the Situationists"><img src="http://i.imgur.com/9hLajUe.png"></a>
    </nav>


    <div class="row">
      <div class="col-sm-9 sidebar-outer">
          <div class="sidebar">
            <br>
            <br>
            <div id="map_canvas" style="width: 1025px; height: 600px;"></div>
          </div>
      </div>
      <div class="col-sm-3">
        <div class="content">
          <div class="col-md-12" id="eventsContainer">
            <br>
            <br>
            <br>
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Post an event</button>
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <form role="form" id="postEventForm">
                  <div class="form-group">
                    <h4>Post an Event</h4>
                    <div>
                      <label for="nameOfEvent">Name of Event</label>
                    </div>
                    <div>
                      <input type="text" name="name" class="form-control" id="nameOfEvent">
                    </div>
                    <label for="date">Date (mm/dd/yyyy format)</label>
                    <div>
                      <input type="text" name="date" class="form-control" id="date">
                    </div>
                    <label for="time">Time (indicate am or pm)</label>
                    <div>
                      <input type="text" name="time" class="form-control" id="time">
                    </div>
                    <div>
                      <label for="coordinates">Location Coordinates</label>
                    </div>
                    <div>
                      <input type="text" name="latitude" id="latitude" placeholder="latitude">
                    </div>
                    <div>
                      <input type="text" name="longitude" id="longitude" placeholder="longitude">
                    </div>
                  </div>
                  <div>Description</label>
                  </div>
                  <div>
                    <textarea class="form-control" name="descriptionOfEvent" cols="40" rows="4" id="description" ></textarea>
                  </div>
                  <div>Image</label>
                  </div>
                  <div>
                    <input type="text" name="imageUrl" id="image" placeholder="imgur or other direct image link">
                  </div>
                  <button type="submit" class="btn btn-default pull-right">Post Event</button>
                </form>
              </div>
            </div>
            <div>
              <h3>Upcoming Events</h3>
            </div>
            <br>
            <div>
              <!-- list of foods -->
                 <ul class="list-group" id="eventPosts">
                 <% for (var i=0; i<events.length; i++) { %>
                 <%= events %>
                   <li class="list-group-item">
                     <h4 class="list-group-item-heading"><%= events[i].nameOfEvent %></h4>
                     <span class='list-group-item-text'><%= events[i].date %></span>
                     <span class='list-group-item-text'><%= events[i].timeOfEvent %></span>
                     <span class='list-group-item-text'><%= events[i].descriptionOfEvent %></span>
                     <span class='list-group-item-text'><%= events[i].image %></span>
                     <span class='list-group-item-text'><%= events[i].coordinates %></span>
                       <button data-id="<%=events[i].id %>" type='button' class='close' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                   </li>
                 <% } %>
                 </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>